name: tests

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      
      - name: cd auth
      - cmd: cd auth
      
      - name: Install dependencies
        run: yarn install
      
      - name: Test
        run: yarn test:ci

