name: tests

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./auth
    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      
      - name: Install dependencies
        run: yarn install
      
      - name: install mongodb core
        run: yarn --cwd packages/mongodb-memory-server-core
      
      - name: Test
        run: sudo yarn test:ci

